<div class="card p-2" style="width: 18rem">
    <div class="row">
        <div class="col-5">
            <img [src]="cardData.photoUrl" class="card-img-top" alt="...">
        </div>
        <div class="col-7">
            <div class="card-body p-0">
                <p class="card-title text-capitalize small"><ng-content></ng-content></p>
                <p>{{cardData.price}}</p>
                <button class="btn btn-sm btn-success" (click)="addItem()">Add Item</button>
              </div>
        </div>
    </div>
    
    
  </div>