.fa-login-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-login-main {
  width: 500px;
  border: 1px solid #eee;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
}
