<div class="container fa-login-container">
  <div class="fa-login-main">
    <h2>Login</h2>
    <form>
      <div class="form-group mt-3">
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          [(ngModel)]="loginObj.userName"
          [ngModelOptions]="{standalone: true}"
        />
      </div>
      <div class="form-group mt-3">
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
          [(ngModel)]="loginObj.password"
          [ngModelOptions]="{standalone: true}"
        />
      </div>
      <button type="submit" class="btn btn-primary mt-3" (click)="onLogin()">Submit</button>
    </form>
  </div>
</div>
