<div class="container">
  <div class="text-center p-3">
    <h2>Category Selected: <span class="text-capitalize">{{categoryTitle}} </span></h2>
  </div>
  <div class="row">
    <div class="col-3 mb-5" *ngFor="let restaurant of allRestaurants">
      <!-- <app-card-view [cardData]="restaurant">{{ 
        restaurant.restaurantName
      }}</app-card-view> -->
      <app-card-view-horizontal  [cardData]="restaurant" (selectedItem)="selectedItemEmit($event)">{{restaurant.restaurantName}}</app-card-view-horizontal>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update Quantity</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input type="text" placeholder="Quantity" class="form-control" [(ngModel)]="quantity">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="updateQty()">Update Quantity</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
      </div>

    </div>
  </div>
</div>
