<div class="container">
  <div class="text-center p-3">
    <h2>Category Selected: <span class="text-capitalize">{{categoryTitle}} </span></h2>
  </div>
  <div class="row">
    <div class="col-3 mb-5" *ngFor="let restaurant of allRestaurants">
      <!-- <app-card-view [cardData]="restaurant">{{
        restaurant.restaurantName
      }}</app-card-view> -->
      <app-card-view-horizontal  [cardData]="restaurant">{{restaurant.restaurantName}}</app-card-view-horizontal>
    </div>
  </div>
</div>
